<ng-container *ngIf="isLoggedIn()">
    <mat-toolbar class="close-session" color="primary" *ngIf="isUser()">
        <div>
            <a mat-button routerLink="cellphones">Cátalogo</a>
        </div>
        <div>
            <a mat-button routerLink="nit">Mis Nit</a>
        </div>
        <div>
            <a mat-button routerLink="addresses">Mis Direcciones</a>
        </div>
        <div>
            <a mat-button routerLink="purchaseCar">Carrito de compras</a>
        </div>
        <div>
            <a mat-button (click)="logOut()">Cerrar sesión</a>
        </div>
    </mat-toolbar>
    <mat-toolbar class="close-session" color="primary" *ngIf="!isUser()">
        <div>
            <a mat-button routerLink="cellphones">Cátalogo</a>
        </div>
        <div>
            <a mat-button (click)="logOut()">Cerrar sesión</a>
        </div>
    </mat-toolbar>
</ng-container>
