<h1 mat-dialog-title>Agregar teléfono</h1>

<!--
cant: new FormControl(0, Validators.required),
      img: new FormControl('', Validators.required),
      descr: new FormControl('', Validators.required),
      caract: new FormControl('', Validators.required),
      model: new FormControl('', Validators.required),
      numSeri: new FormControl('', Validators.required),
      preci: 

-->
<div id="createPhoneContainer" mat-dialog-content>
    <div>
        <form [formGroup]="createPhoneForm" (ngSubmit)="createPhone()">
            <mat-form-field appearance="fill">
                <mat-label>
                    Nombre
                </mat-label>
                <input matInput type="text" formControlName="model">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Descripción
                </mat-label>
                <input matInput type="text" formControlName="descr">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Características
                </mat-label>
                <input matInput type="text" formControlName="caract">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    No. serie
                </mat-label>
                <input matInput type="text" formControlName="numSeri">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Imagen(url)
                </mat-label>
                <input matInput type="text" formControlName="img">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Precio(Q)
                </mat-label>
                <input matInput type="text" formControlName="preci">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>
                    Cantidad
                </mat-label>
                <input matInput type="text" formControlName="cant">
            </mat-form-field>
            <button mat-flat-button color="primary">Guardar</button>
        </form>
    </div>
</div>

